/**** GLOBAL STYLES ****/

/* ==== Building the Header ====*/

header { background: #535869; border-bottom: 15px solid #4e515b; }
    header .title { margin: 30px; font-size: 1.2em; font-weight: 800; }
    header .sign-in { margin: 23px; }
    header .sign-in, header .sign-in a { width: 100px; background: #9ebd9a; height: 35px; padding: 7px; text-align: center; border-bottom: 5px solid #4e515b; color: #676767; }
        header .sign-in:hover { background: #4e515b; color: #fff; }
    header .title a { color: #9ebd9a; }
        header .title a:hover { color: #fff; }  

/* ==== General Styles ==== */

::selection { background: #9ebd9a; color: #FFF; }
::-moz-selection { background: #9ebd9a; color: #FFF; }

/* ==== Building the Footer ==== */

footer { background: #a2a2a2; min-height: 40px; }
    .copyright { font-size: 0.8em; text-align: center; margin-top: 10px; }
    

/**** PAGE-SPECIFIC STYLES ****/

/* ==== Index Page ==== */

.pages { list-style-type: none; }
.pages li, .pages li a { margin-bottom: 10px; width: 200px; background: #9ebd9a; height: 35px; padding: 2px; text-align: center; border-bottom: 5px solid #4e515b; color: #676767; }
    .pages li:hover { background: #4e515b; color: #fff; }

/* ==== Profile Page ==== */

/* Sidebar */
.profile-sidebar { background: #c2c2c2; height: 100%; }
    .profile-sidebar .profile-img { min-height: 40px; min-width: 40px; max-height: 60px; max-width: 60px; padding: 0px; margin: 8px 0 0 8px; border: 3px solid #9ebd9a; }
    .profile-sidebar .username { padding-top: 30px; height: 65px; }
    
    .profile-sidebar .content { margin: 10px 0 10px 0px; }
        .profile-sidebar .content ul { list-style-type: none; }
            .profile-sidebar .content ul a li { min-height: 20px; background: #d2d2d2; margin-bottom: 2px; text-align: center; color: #535869; }
            .profile-sidebar .content ul a li:hover { background: #a2a2a2; color: #fff; }

/* Main Content */
.profile-main .profile-content ul { list-style-type: none; margin-left: 20px; }
    .profile-main .profile-content ul ul { list-style-type: none; margin-bottom: 10px; }
        .profile-main .profile-content ul ul ul { list-style-type: none; }
    