/*
Project Name: Code, Manage, Go!
Stylesheet: Main.css
Version: 2.0
Author: Maia M. McGuinness
Framework: Foundation 5 from ZURB

Notes: I hate importants. However, with this framework, it's helpful to keep the code clean.
*/

/* ==== FONTS ==== */

@import url("http://fonts.googleapis.com/css?family=Arvo:400,800");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,800");

@font-face {
	font-family: 'menu-font';
	src:url('fonts/menu-font.eot');
	src:url('fonts/menu-font.eot?#iefix') format('embedded-opentype'),
		url('fonts/menu-font.ttf') format('truetype'),
		url('fonts/menu-font.woff') format('woff'),
		url('fonts/menu-font.svg#menu-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'menu-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
	content: "\e600";
}
.icon-menu:before {
	content: "\e601";
}
.icon-newspaper:before {
	content: "\e602";
}
.icon-drawer:before {
	content: "\e603";
}
.icon-signup:before {
	content: "\e604";
}
.icon-folder:before {
	content: "\e605";
}
.icon-library:before {
	content: "\e606";
}
.icon-copy:before {
	content: "\e607";
}
.icon-list:before {
	content: "\e608";
}
.icon-key:before {
	content: "\e609";
}
.icon-upload:before {
	content: "\e60a";
}
.icon-plus:before {
	content: "\e60b";
}
.icon-arrow-right:before {
	content: "\e60c";
}
.icon-checkmark:before {
	content: "\e60d";
}
.icon-checkmark2:before {
	content: "\e60e";
}
.icon-briefcase:before {
	content: "\e60f";
}
.icon-users:before {
	content: "\e610";
}
.icon-user:before {
	content: "\e611";
}


/* ==== GLOBAL ==== */
html { background: #f1f1f1; }

html a { color: #00ae5f; }
html a:hover { color: #000; }

::selection { background: #00ae5f; color: #fff; }
header ::selection { background: #fff; color: #000; }

.row { max-width: 75em; }

@media (min-width: 64.063em) {
	.large-10 { left: 0 !important; } /* forced to override Foundation glitch */
}

.error { color: #f00; font-weight: bold; margin-bottom: 1em; }

input[type='file'] { width: auto !important; }
button { background-color: #00ae5f !important; border: #00ae5f !important; }


/* ==== HEADER -- HOMEPAGE ==== */

header { background: #00ae5f; color: #fff; }
header.row { max-width: none; overflow-x: hidden; }

header a { color: #000; }
header a:hover { color: #fff; }

header .sign-in, header .sign-up { text-align: center; padding-bottom: 0.75em; }
header .sign-in a, header .sign-up a { display: block; height: 100%; width: 100%; padding: 0.5em; background: #e1e1e1; border-bottom: 3px solid #b7b7b7; }
header .sign-in a:hover, header .sign-up a:hover { background: #b7b7b7; color: #fff; }

@media (min-width: 40.063em) {
	.homepage { font-family: "Open Sans", Helvetica Nueue, sans-serif; }
	.homepage .title { margin-top: 0.5em; font-size: 3em; text-align: center; }
	.homepage .title .icon-code { color: #fff; }
	.homepage .details p { padding: 1.5em 0 0.5em 0; font-size: 1.2em; color: #fff; text-align: center; font-weight: 300;  }
}

@media (max-width: 40em) {
	.homepage .title .icon-code { text-align: center; color: #fff; font-size: 3em; }
	.homepage .title { padding: 0.5em; }
}


/* ==== HEADER -- GENERAL ==== */

@media (min-width: 40.063em) {
	.general-header { font-family: "Open Sans", Helvetica Nueue, sans-serif; left: 0; }
	.general-header .title { padding: 1em; font-size: 2em; }
	.general-header .title .icon-code { color: #fff; }
	.sign-out-btn a { display: block; width: 100px; height: 100%; margin-top: 2em; padding: 0.5em; background: #e1e1e1; text-align: center; border-bottom: 2px solid #b7b7b7; }
	.sign-out-btn a:hover { background: #b7b7b7; color: #000; }
}
    
@media (max-width: 40em) {
	.general-header .title .icon-code { text-align: center; color: #fff; font-size: 3em; }
	.general-header.title { padding: 0.5em; color: #000; }
}


/* === STRUCTURE === */

.full-width-wrapper { margin: 2.5%; background: #fff; width: 95% !important; } /* I hate importants, but it will keep the code clean. */
.two-columns-wrapper { margin: 2.5%; width: 95% !important; }
.sub-content, .sub-sub-content { background: #fff; }


/* === PAGE-SPECIFIC STYLES === */

/* Project Page */

.list-tasks { list-style-type: none; }
.project-header { padding-bottom: 0.5em; font-weight: 400; }

/* Upload Page */

.file-upload input[type='file'] { background: #f1f1f1; color: #00ae5f; padding: 0.5em; }
.file-upload button { margin-left: 5em; }


/* ==== FOOTER ==== */

footer.row { background: #f1f1f1; max-width: none; }
.copyright { padding: 1em 1em 1em 0; }